.customer-title {
    margin-top: -3%;
}

.customer-subtitle {
    font-size: 190%;
    color: rgb(30, 30, 30);
}

.payment-no {
    font-size: 190%;
    color: rgb(231, 76, 60);
}

.payment-yes {
    font-size: 190%;
    color: rgb(39, 174, 96);
}
