.customer-title {
    margin-top: -3%;
}

.customer-subtitle {
    font-size: 190%;
    color: rgb(30, 30, 30);
}

.payment-no {
    font-size: 190%;
    color: rgb(231, 76, 60);
}

.payment-yes {
    font-size: 190%;
    color: rgb(39, 174, 96);
}

.pictures {
    margin-top: 5%;
}

.picture-element {
    display: inline-block;
    margin-right: 2%;
    margin-bottom: 4%;
}

.picture-element img {
    width: 350px;
}

.picture-subtitle {
    font-size: 140%;
    margin-top: 2%;
}

.picture-table {
    font-family: 'Karla', sans-serif;
    border-collapse: collapse;
    font-size: 120%;
    margin-top: 5%;
    margin-bottom: 18%;
}

.picture-table td, .picture-table t {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 15px;
    padding-right: 45px;
}

.picture-table th {
    font-weight: 700;
    padding-bottom: 4%;
}

.picture-table tr:nth-child(even) {
    background-color: rgb(247, 247, 247);
}

.picture-table a {
    color: rgb(20, 20, 20);
    text-decoration: underline;
}

.picture-table br {
    font-size: 120%;
}

.price {
    text-align: right;
}

.total {
    text-align: right;
    color: rgb(39, 174, 96);
}
