.question {
    font-family: 'Open Sans', sans-serif;
    font-size: 110%;
    margin-bottom: 4.5%;
}

.answer {
    font-family: 'Karla', sans-serif;
    font-size: 80%;
    line-height: 185%;
    margin-top: 1.5%;
    margin-left: 5%;
    padding-right: 5%;
}
