.thank-you-bold {
    font-family: 'Open Sans', sans-serif;
    font-size: 113%;
    color: rgb(20, 20, 20);
    margin-top: 5%;
}

.thank-you-regular {
    font-family: 'Karla', sans-serif;
    font-size: 100%;
    color: rgb(20, 20, 20);
    margin-top: 5%;
}
