.step-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 130%;
}

.step-details {
    font-family: 'Karla', sans-serif;
    font-size: 76%;
    line-height: 185%;
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 8%;
    padding-right: 5%;
}

.step-details a {
    text-decoration: underline;
    color: rgb(20, 20, 20);
}
